$borderColor: #17330A;
$textAdjust: 10%
:export { borderColor: $borderColor; }

@font-face {
  font-family: 'Athelas';
  src: url('./Athelas-Regular.ttf') format('truetype');
}


.navbar {
  font-size: 24px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar-collapse, .navbar-header, .navbar a {
  color: $borderColor !important;
  background-color: #FEFFF1 !important;
  text-align: center;
}

body {
  font-family: 'Athelas', serif;
  color: $borderColor;
  background-image: url('../assets/45-degree-fabric-light.png');
  background-color: #FEFFF1;

}

p {
  font-size: 1.75em;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 16px;
    }
}
